{{!< default}}

<section class="wrapper wrapper-post" style="overflow:visible;">
      {{#post}}

  <div class="post-image" style="background-image: url({{image absolute="true"}});background-repeat: no-repeat;background-position: center; width:100%;margin-top:-60px;"></div>

  <div class="wrapper-container">
    <article itemscope itemtype="http://schema.org/BlogPosting" role="article" class="post {{post_class}}">
        <section class="post-container">
          <header class="post-header">

            <ul class="post-meta-list">
              <li class="post-meta-item">
                <time datetime="{{date published_at format="YYYY-MM-DD"}}" itemprop="datePublished">
                  {{date published_at timeago="true"}}
                </time>
              </li>
              {{#if tags}}
                <li class="post-meta-item">
                  {{#foreach tags}}
                    <a itemprop="{{#if @first}}articleSection{{else}}keywords{{/if}}" href="{{url}}" data-pjax>{{name}}</a>
                    {{~#if @last}} {{else}}, {{/if}}
                  {{/foreach}}
                </li>
              {{/if}}
              <li class="post-meta-item">
                <a href="#disqus_thread" data-disqus-identifier="{{id}}">Comments</a>
              </li>
            </ul>
            <h1 itemprop="name headline" class="post-title"><a href="{{url}}" itemprop="url" data-pjax title="{{{title}}}">{{{title}}}</a></h1>
            {{! A subtitle not available in Ghosts yet }}
            <!--h2 itemprop="about" class="post-subtitle"></h2-->
          </header>
          <aside class="post-side">
            <div class="post-author">
              {{#if author.image}}
                <a href="{{author.website}}" class="post-author-avatar">
                  <img src="{{author.image}}" alt="{{author.name}}">
                </a>
              {{/if}}
              <div class="post-author-info">
                <a href="{{author.website}}" class="post-author-name">
                  {{author.name}}
                </a>
                <p class="post-author-bio">{{author.bio}}</p>
              </div>
            </div>
          </aside>
          <div itemprop="articleBody" class="post-body">
            {{content}}
          </div>
          <footer class="post-footer">
            <div itemprop="author" itemscope itemtype="http://schema.org/Person" class="post-author">
              {{#if author.image}}
                <a href="{{author.website}}" class="post-author-avatar">
                  <img itemprop="image" src="{{author.image}}" alt="{{author.name}}">
                </a>
              {{/if}}
              <div class="post-author-info">
                <h4 class="post-footer-heading">Written By</h4>
                <a href="{{author.website}}" itemprop="url" class="post-author-name">
                  <span itemprop="name">{{author.name}}</span>
                </a>
                <p itemprop="description" class="post-author-bio">{{author.bio}}</p>
                {{#if author.location}}
                  <p class="post-author-location">{{author.location}}</p>
                {{/if}}
                {{#if author.website}}
                  <p class="post-author-website">
                    <a href="{{author.website}}" rel="nofollow">{{author.website}}</a>
                  </p>
                {{/if}}
                <p class="post-info">
                  <b class="post-info-title">Published on</b>
                  <time class="post-date">{{date format='MMMM DD, YYYY'}}</time>
                </p>
              </div>
            </div>
            <div class="post-social">
              <h4 class="post-footer-heading">Spread the word</h4>
              <a href="#" data-action="share-twitter"><i class="fa fa-fw fa-lg fa-twitter"></i></a>
              <a href="#" data-action="share-facebook"><i class="fa fa-fw fa-lg fa-facebook"></i></a>
              <a href="#" data-action="share-gplus"><i class="fa fa-fw fa-lg fa-google-plus"></i></a>
            </div>
          </footer>
        </section>
      {{/post}}
      <section itemprop="comment" class="post-comments">
        <div id="disqus_thread"></div>
      </section>

{{! Begin MailChimp Signup Form }}

    <div class="mailing-list-popup" style="margin-left: -3px;">
      <div id="mc_embed_signup">
        <form action="//tech.us12.list-manage.com/subscribe/post?u=605d9798beeb8a1824c8e54e4&amp;id=df0ca60c1f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate mui-form--inline" target="_blank" novalidate style="
        ">

          <div id="small-cta">
            <button id="cta-button" type="button" class="mui-btn mui-btn--raised" style="
                font-family: &quot;Open Sans&quot;,&quot;Myriad Pro&quot;,&quot;Lucida Grande&quot;,droid-sans-mono,&quot;Lucida Sans&quot;,Geneva,Verdana,sans-serif;
            height: 62px;
            border-radius: 0px;
            margin-left: 4px;
            position: absolute;
            left: -4px;
            padding-left: 13px;
            padding-right: 13px;
            margin-top: -5px;
            width: 100%;
            ">
              <i class="fa fa-arrow-circle-o-right" style="
                position: absolute;
                margin-top: 3px;
                font-size: 30px;
                color: #29AAE2;
                margin-left: -30px;
              "></i>
              Get Ethereum dev tutorials
            </button>
          </div>

          <div id="small-email">



            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
        
                <div class="mui-textfield" style="width:60%; position:absolute;">
        	  <input type="email" value="" placeholder="email@domain.com" name="EMAIL" class="required email mui--is-empty mui--is-dirty" id="mce-EMAIL" style="">
                </div>
              </div>
        	<div id="mce-responses" class="clear">
        		{{!<div class="response" id="mce-error-response" style="display:none !important; margin-right:9999999px"></div>}}
        		{{!<div class="response" id="mce-success-response" style="display:none !important"></div>}}
        	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_605d9798beeb8a1824c8e54e4_df0ca60c1f" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="mui-btn mui-btn--raised mailing-submit-btn" style="float:right; margin-top:9px;"></div>
            </div>
          </div>
        </form>
      </div>
      {{! Success }}
      <div id="mailing-success">
        Success! Check your email, verify the address, and get your guide!
      </div>
    </div>

{{! End mc_embed_signup }}

    </article>

    {{> footer this}}
  </div>
</section>

{{! MAILCHIMP JS }}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
{{! END MAILCHIMP JS }}

<script type="text/javascript">
  if(GHOSTIUM.haveDisqus) {
    {{#post}}
    var disqus_identifier = '{{id}}';
    {{/post}}

    if(typeof DISQUS !== 'object') {
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    }
  } else {
    document.querySelector('.post-comments').remove();
  }
</script>
<style>
.mce_inline_error{
  position:absolute;
  background-color: rgba(255,255,255,0) !important;
  border-color: #F95959 !important;
}
</style>
